<!DOCTYPE html>
<html>
	<head>				
		<title>Home</title>
	</head>
	<body>
		<div class="">
			<div class="container"><!--announcement container-->		
				<div class="col-xs-12">				
					<div class=""><!--title-->
						<h2>Announcement</h2>
					</div>
					<div><!--content-->
						<table class="table table-striped">
							<tbody>
								<tr>									
									<td>
										<div>
											<h5>Announcement Title1</h5>
										</div>							
										<div>
											<p>announcement1</p>								
											<p>date posted</p>
											<p style="float: right;">									
												<a href>Read More...</a>
											</p>
										</div>
									</td>									
								</tr>
								<tr>
									<td>
										<div>
											<h5>Announcement Title2</h5>
										</div>
										<div>
											<p>announcement2</p>
											<p>date posted</p>
											<p style="float: right;">									
												<a href>Read More...</a>
											</p>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>					
				</div>		
			</div>
			<div class="container">
				<div class="col-xs-12">				
					<div class="tabbable"> 
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#firstTab" data-toggle="tab">News</a>
							</li>
							<li>
								<a href="#secondTab" data-toggle="tab">News Letter</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="firstTab">
								<h5>Sample News</h5>
								<a href>Read More..</a>								
							</div>
							<div class="tab-pane" id="secondTab">
								<h5>News Letter</h5>
								<a href>Read More...</a>
							</div>
						</div>
					</div>				
				</div>		
			</div>	
		</div>
		<script src="bootstrap.js"></script>		
	</body>
</html>