<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>

		<!-- Sets initial viewport load and disables zooming	-->
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
		<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		-->
		<!-- Set Apple icons for when prototype is saved to home screen -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">

		<!-- Include the base Snap.js CSS -->
		<link rel="stylesheet" href="lib/snap/snap.css">

		<!-- Include the compiled Ratchet CSS -->
		<link rel="stylesheet" href="lib/snap/ratchet.css">


		<!--Scheduler -->
		<link rel="STYLESHEET" type="text/css" href="codebase/dhxscheduler_mobile.css">

		<!-- Intro paragraph styles. Delete once you start using this page -->
		<style type="text/css">
			.snap-drawers .list{margin: 0;}

			.welcome {
			line-height: 1.5;
			color: #555;
			}
			h2{
			padding: 15px;
			font-weight: normal;
			font-size: 36px;
			}
		</style>
	</head>
	<body>
		<div class="snap-drawers">
			<div class="snap-drawer snap-drawer-left" id="left-drawer">
				<ul class="list">  
					<li ng-click="calendar()">Calendar</li>				
					<li ng-click="gotosms()">SMS</li>					
					<li ng-click="gotonotes()">Notes</li>
					<li ng-click="logout()">Logout</li>						
				</ul>
			</div>
			<div class="snap-drawer snap-drawer-right" id="right-drawer">
				<ul class="list">
				  <li>USER1</li>
				  <li>USER2</li>
				  <li>USER3</li>
				  <li>USER4</li>
				</ul>
			</div>
		</div>
		<div id="content" class="snap-content">

			<!-- Make sure all your bars are the first things in your <body>-->

			<header id="head" class="bar-title">				
				<button id="toggle-left" class="button">
				  <span class="glyphicon glyphicon-th-list"></span> 
				</button>
				<h1 class="title">{{school}}</h1>
				<!--<button class="button" ng-click="back()">Back</button>			-->
				<button class="button" ng-click="gotonews()">
					<span class="glyphicon glyphicon-list-alt"></span>
					<span class="iconclr">{{n_cntr}}</span>
				</button>
				<button class="button" ng-click="gotoannouncement()">
					<span class="glyphicon glyphicon-flag"></span>
					<span class="iconclr">{{cntr}}</span>
				</button>
				<button class="button" id="toggle-right">
					<span class="glyphicon glyphicon-user"></span>
					</button>
			</header>


			<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
			<div class="content">
			<div class="slide-animate" ng-include="template"></div>
			</div>			 					
		</div>
		

		<script type="text/javascript">	
			var 

			// Helper
			$ = function(id){
			return document.getElementById(id);
			},

			// Instance
			snapper = new Snap({
			element: document.getElementById('content')
			}),

			// 
			UpdateDrawers = function(){
			var state = snapper.state(),
				towards = state.info.towards,
				opening = state.info.opening;
			if(opening=='right' && towards=='left'){
				$('right-drawer').classList.add('active-drawer');
				$('left-drawer').classList.remove('active-drawer');
			} else if(opening=='left' && towards=='right') {
				$('right-drawer').classList.remove('active-drawer');
				$('left-drawer').classList.add('active-drawer');
			}
			};

			snapper.on('drag', UpdateDrawers);
			snapper.on('animating', UpdateDrawers);
			snapper.on('animated', UpdateDrawers);

			$('toggle-left').addEventListener('click', function(){
			snapper.open('left');
			});

			$('toggle-right').addEventListener('click', function(){
			snapper.open('right');
			});
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>		
	</body>
</html>
