<!DOCTYPE html>
<html>
	<head>				
		<title>Login</title>
		
	</head>
	<body>
	<div>
		<div class="container">
			<div class="logo-row">
			<!--	<div class="form-group col-xs-12 alert" ng-bind-html="src=""imag"></div>	<img ng-bind-html="imag">-->
			<img src="{{src}}"/> 
			
			
			</div>	
			<div class="logo-row">
				<div class="text-row" ng-bind-html="school"></div>
				<div class="text-slogan" ng-bind-html="caption">
				</div>	
			</div>
			<form class="form-horizontal" role="form">				
				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control" type="text" required="" placeholder="User name" ng-model="userid">
					</div>
				</div>				
				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control" type="password" required="" placeholder="Password" ng-model="password">
					</div>
				</div>
				<div class="form-group">		
					<div class="col-xs-12">
						<button type="submit" class="go_button" ng-click="login()">SIGN IN</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<div class="checkbox">
							<input type="checkbox">Remember me
						</div>
					</div>
				</div>	
				<div class="form-group">				
					<div class="col-xs-12">
						<a href>forgot password?</a>
						<a href>signup for parents?</a>
					</div>
				</div>
				<div class="form-group col-xs-12 alert">
					{{alertmsg}}					
				</div>	
			</form>
		</div>
		</div>
	</body>
</html>