<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/calender1.css"> 		
		<title>Login</title>
	</head>
<body>
	<div class="container">
		<div class="logo-row">
			<div class="logo-row">
				<img alt="Your School Logo Here" src="">
			</div>
			<div class="text-row">School Name</div>
			<div class="text-slogan">
				<i>"Caption"</i>
			</div>
		</div>
		<div class="login-row">
			<form id="form">
				<p></p>
				<div id="block">					
					<input id="name" type="text" required="" placeholder="Username" name="UserId">					
					<input id="password" type="password" required="" placeholder="Password" name="password">
					<button type="submit" class="go_button" >GO</button>
				</div>
			</form>
			<div id="option">
				<p>Sign in</p>
				<a href="#">forgot password?</a>
				<a href="/">signup for parents?</a>
			</div>
		</div>
	</div>	
</body>
</html>