body {
	background-color:#172221 ;   
    font-family: 'Open Sans';	
}
.container {
    background: #FFFFFF;
    margin: 20px auto;
}
.logo-row {	    
    padding-bottom: 5px;
    text-align: center;
}
.go_button {
	background: linear-gradient(#04E0CA, #039687) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 30px;    
    position: relative;
    width: 92px;
    z-index: 900;
}
@media screen and (max-width: 360px) {
.container {
    width: 90%;
}
}

